.w1-a5-b-unsuccessful-error {
  align-items: center;
  background-color: var(--mirage);
  display: flex;
  flex-direction: column;
  height: 1991px;
  position: relative;
  width: 1680px;
}

.overlap-group4 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 686px;
  justify-content: flex-end;
  margin-left: 12.0px;
  margin-top: 17px;
  min-width: 710px;
}

.overlap-group1 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -7px;
  min-height: 713px;
  padding: 54px 45px;
  position: relative;
  width: 737px;
}

.overlap-group2 {
  align-items: flex-start;
  align-self: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  min-height: 288px;
  padding: 30px 38px;
  width: 621px;
}

.card-information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 104px;
  width: 545px;
}

.title {
  letter-spacing: 1.44px;
  line-height: 31.9px;
  min-height: 64px;
  width: 545px;
}

.time-tag {
  background-color: var(--black-3);
  border-radius: 20.48px;
  display: flex;
  height: 24px;
  margin-top: 16px;
  width: 253px;
}

.address {
  flex: 1;
  letter-spacing: 0.96px;
  margin-left: 6.32%;
  margin-right: 6.32%;
  text-align: center;
  width: 221px;
}

.divider {
  height: 1px;
  margin-top: 16px;
  width: 545px;
}

.price-information {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-height: 61px;
  width: 545px;
}

.heading {
  align-items: flex-start;
  display: flex;
  min-width: 549px;
}

.amount {
  height: 26px;
  letter-spacing: 1.08px;
  line-height: 3.2px;
  width: 151px;
}

.total {
  align-self: flex-end;
  height: 26px;
  letter-spacing: 1.08px;
  line-height: 3.2px;
  margin-bottom: 0;
  margin-left: 331px;
  text-align: right;
  width: 63px;
}

.price {
  align-items: flex-start;
  display: flex;
  margin-top: 8px;
  min-width: 549px;
}

.surname {
  height: 26px;
  letter-spacing: 1.32px;
  line-height: 4.0px;
  width: 222px;
}

.text-1 {
  height: 26px;
  letter-spacing: 1.32px;
  line-height: 4.0px;
  margin-left: 184px;
  text-align: right;
  width: 139px;
}

.retry-payment {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-right: 22.0px;
  margin-top: 11px;
  min-width: 225px;
}

.overlap-group {
  align-items: center;
  background-color: var(--eerie-black);
  border-radius: 35px;
  display: flex;
  height: 56px;
  min-width: 223px;
  padding: 0 32px;
}

.retry-payment-1 {
  height: 40px;
  letter-spacing: 0.96px;
  text-align: center;
  width: 159px;
}

